extend include/template
include include/mixin

block navigation
	+navItem(flase, "index.html", "HOME")
	+navItem(true, "about.html", "ABOUT")

- fBpageLink = "#"

- instagramLink = "#"
- thumblrLink = "#"
- pinterestLink = "#"
- twitterLink = "#"

mixin social(socialName, classHref, socialLink, copy, iconWidth)
	li.text-center
		a(href="#{socialLink}" class="#{classHref} text-hide")
			svg(viewBox="0 0 #{iconWidth} #{iconWidth}" width="#{iconWidth}" height="#{iconWidth}")
				use(xlink:href="#{socialName}" x="0" y="0")

block contentPage
	section.about
		.container-fluid
			.container
				.row
					.col-xs-6
						//br
						//h1
						//	| Hi, I'm Razvan
						//p (hard to pronunce but true)
						//h2
						//	| UX , Interaction and graphic designer based in Milano
						//hr
						//p
						//	| 15 years ago, toghether with a friend started to create websites.
						//	| I do not know HTML, graduated in architecture and love to draw, this job fit me like a glove.
						//	| Computer graphics I feel it gives me some freedom so I continued diligent, even if nowadays really use the analog world.
						//	| I followed thereafter some HTML CSS classes that helped me enormously in my career. Nothing could stop me to advance in this field.
						//p To discover my passions you can watch me on:

					.svgHide(style="display: none")
						include assets/images/social/socialIcon.html
					.linkedin
						p sample
						svg.linkedin(viewBox="0 0 100 100" width="100" height="100")
							use(xlink:href="#linkedin" x="0" y="0")
